{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Etats {% endblock %}

{% block Css %}
    <link rel="stylesheet" href="{{ asset('CSS/style.css') }}">
{% endblock %}

{% block body %}
    <div class="container-fluid">

        <div class="row text-center">
            <div class="col">
                <h1>Etats</h1>
                {# Commandes par semaine #}
                <div class="border border-success my-3">
                    <h5 class="bg-success text-white py-1">Commandes clients</h5>

                    <form method="post" action="{{ path('commande_par_semaine_statistique') }}">

                        <div class="row my-3">
                            <div class="col-2">
                                <label for="annee1">Année : </label>
                                <select name="annee1" id="annee1" class="annee">
                                    <option value="0">Votre Choix</option>
                                    {% for annee in annees %}
                                        <option value="{{ annee.annee }}">
                                            {{ annee.annee }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-2 select-mois">
                                <label for="mois1">Mois : </label>
                                <select name="mois1" id="mois1" class="mois">
                                </select>
                            </div>
                            <div class="col-2 select-semaine">
                                <label for="semaine1">Semaine : </label>
                                <select name="semaine1" id="semaine1" class="semaine">
                                </select>
                            </div>
                            <div class="offset-4 col-1 pdf">
                                <button type="submit" class="btn btn-danger" name="pdf" value="pdf" id="pdf1">
                                    PDF
                                </button>
                            </div>
                            <div class="col-1 excel">
                                <button type="submit" class="btn btn-success" name="excel" value="excel"
                                        id="excel1">
                                    Excel
                                </button>
                            </div>
                        </div>
                    </form>
                </div>

                {# Commandes par dépôt #}
                <div class="border border-success my-3">
                    <h5 class="bg-success text-white py-1">Commandes par dépôt</h5>

                    <form method="post" action="{{ path('commande_par_depot_statistique') }}">

                        <div class="row my-3">
                            {# Select Annee #}
                            <div class="col-2">
                                <label for="annee2">Année : </label>
                                <select name="annee2" id="annee2" class="annee">
                                    <option value="0">Votre Choix</option>
                                    {% for annee in annees %}
                                        <option value="{{ annee.annee }}">
                                            {{ annee.annee }}
                                        </option>
                                    {% endfor %}

                                </select>
                            </div>
                            {# Select mois #}
                            <div class="col-2 select-mois">
                                <label for="mois2">Mois : </label>
                                <select name="mois2" id="mois2" class="mois">
                                    <option value="0">Votre Choix</option>
                                </select>
                            </div>
                            {# Select Semaine #}
                            <div class="col-2 select-semaine">
                                <label for="semaine2">Semaine : </label>
                                <select name="semaine2" id="semaine2" class="semaine">
                                </select>
                            </div>
                            {# Select Depot #}
                            <div class="col-2 select-depot">
                                <label for="depot2">Depot : </label>
                                <select name="depot2" id="depot2" class="depot" required>
                                </select>
                            </div>
                            {# Bouton PDF #}
                            <div class="offset-2 col-1 pdf">
                                <button type="submit" class="btn btn-danger" name="pdf" value="pdf" id="pdf2">
                                    PDF
                                </button>
                            </div>
                            {# Bouton Excel #}
                            <div class="col-1 excel">
                                <button type="submit" class="btn btn-success" name="excel" value="excel"
                                        id="excel2">
                                    Excel
                                </button>
                            </div>
                        </div>
                    </form>
                </div>

                {# Bon de commande par Producteur #}

                <div class="border border-success my-3">
                    <h5 class="bg-success text-white py-1">Bon de commande par Producteur</h5>

                    <form method="post" action="{{ path('commande_par_producteur_statistique') }}">

                        <div class="row my-3">
                            {# Select Annee #}
                            <div class="col-2">
                                <label for="annee3">Année : </label>
                                <select name="annee3" id="annee3" class="annee">
                                    <option value="0">Votre Choix</option>
                                    {% for annee in annees %}
                                        <option value="{{ annee.annee }}">
                                            {{ annee.annee }}
                                        </option>
                                    {% endfor %}

                                </select>
                            </div>
                            {# Select mois #}
                            <div class="col-2 select-mois">
                                <label for="mois3">Mois : </label>
                                <select name="mois3" id="mois3" class="mois">
                                </select>
                            </div>
                            {# Select Semaine #}
                            <div class="col-2 select-semaine">
                                <label for="semaine3">Semaine : </label>
                                <select name="semaine3" id="semaine3" class="semaine">
                                </select>
                            </div>
                            {# Select Producteur #}
                            <div class="col-2 select-producteur">
                                <label for="producteur3">Producteur : </label>
                                <select name="producteur3" id="producteur3" class="producteur" required>
                                </select>
                            </div>
                            {# Bouton PDF #}
                            <div class="col-1 offset-2 pdf">
                                <button type="submit" class="btn btn-danger" name="pdf" value="pdf" id="pdf3">
                                    PDF
                                </button>
                            </div>
                            {# Bouton Excel #}
                            <div class="col-1 excel">
                                <button type="submit" class="btn btn-success" name="excel" value="excel"
                                        id="excel3">
                                    Excel
                                </button>
                            </div>
                        </div>
                    </form>
                </div>

                {# Vente par Producteur #}

                <div class="border border-success my-3">
                    <h5 class="bg-success text-white py-1">Ventes par Producteur</h5>

                    <form method="post" action="{{ path('vente_par_producteur_statistique') }}">

                        <div class="row my-3">
                            {# Select Annee #}
                            <div class="col-2">
                                <label for="annee4">Année : </label>
                                <select name="annee4" id="annee4" class="annee">
                                    <option value="0">Votre Choix</option>
                                    {% for annee in annees %}
                                        <option value="{{ annee.annee }}">
                                            {{ annee.annee }}
                                        </option>
                                    {% endfor %}

                                </select>
                            </div>
                            {# Select Mois #}
                            <div class="col-2 select-mois">
                                <label for="mois4">Mois : </label>
                                <select name="mois4" id="mois4" class="mois">
                                </select>
                            </div>
                            {# Select Semaine #}
                            <div class="col-2 select-semaine">
                                <label for="semaine4">Semaine : </label>
                                <select name="semaine4" id="semaine4" class="semaine">
                                </select>
                            </div>
                            {# Select Producteur #}
                            <div class="col-2 select-producteur">
                                <label for="producteur4">Producteur : </label>
                                <select name="producteur4" id="producteur4" class="producteur" required>
                                </select>
                            </div>
                            {# Bouton PDF #}
                            <div class="col-1 offset-2 pdf">
                                <button type="submit" class="btn btn-danger" name="pdf" value="pdf" id="pdf4">
                                    PDF
                                </button>
                            </div>
                            {# Bouton Excel #}
                            <div class="col-1 excel">
                                <button type="submit" class="btn btn-success" name="excel" value="excel"
                                        id="excel4">
                                    Excel
                                </button>
                            </div>
                        </div>
                    </form>
                </div>

                {# Vente par Catégorie #}

                <div class="border border-success my-3">
                    <h5 class="bg-success text-white py-1">Ventes par Catégorie</h5>

                    <form method="post" action="{{ path('vente_par_categorie_statistique') }}">

                        <div class="row my-3">
                            {# Select Annee #}
                            <div class="col-2">
                                <label for="annee5">Année : </label>
                                <select name="annee5" id="annee5" class="annee">
                                    <option value="0">Votre Choix</option>
                                    {% for annee in annees %}
                                        <option value="{{ annee.annee }}">
                                            {{ annee.annee }}
                                        </option>
                                    {% endfor %}

                                </select>
                            </div>
                            {# Select Mois #}
                            <div class="col-2 select-mois">
                                <label for="mois5">Mois : </label>
                                <select name="mois5" id="mois5" class="mois">
                                </select>
                            </div>
                            {# Select Semaine #}
                            <div class="col-2 select-semaine">
                                <label for="semaine5">Semaine : </label>
                                <select name="semaine5" id="semaine5" class="semaine">
                                </select>
                            </div>
                            {# Bouton PDF #}
                            <div class="col-1 offset-4 pdf">
                                <button type="submit" class="btn btn-danger" name="pdf" value="pdf" id="pdf5">
                                    PDF
                                </button>
                            </div>
                            {# Bouton Excel #}
                            <div class="col-1 excel">
                                <button type="submit" class="btn btn-success" name="excel" value="excel"
                                        id="excel5">
                                    Excel
                                </button>
                            </div>
                        </div>
                    </form>
                </div>

                {# Liste des Clients #}

                <div class="border border-success my-3">
                    <h5 class="bg-success text-white py-1">Liste des Clients</h5>
                    <form method="post" action="{{ path('clients_statistique') }}">
                        <div class="row my-3">
                            <div class="col clients">
                                <button type="submit" class="btn btn-danger btn-client" name="pdf" value="pdf"
                                        id="pdf-clients">
                                    PDF
                                </button>
                            </div>
                            <div class="col clients">
                                <button type="submit" class="btn btn-success btn-client" name="excel" value="excel"
                                        id="excel-clients">
                                    Excel
                                </button>
                            </div>
                        </div>
                    </form>

                </div>


            </div>

        </div>
    </div>


{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function () {

            $(".select-mois").css("visibility", "hidden");
            $(".select-semaine").css("visibility", "hidden");
            $(".select-depot").css("visibility", "hidden");
            $(".select-producteur").css("visibility", "hidden");
            $(".pdf").css("visibility", "hidden");
            $(".excel").css("visibility", "hidden");

            $('.annee').on('change', function () {
                let baliseAnneeChoisie = $(this);
                let annee = $(this).find('option:selected').val();
                if (annee == 0) {
                    $(this).parent().parent().find('.select-mois').css("visibility", "hidden");
                    $(this).parent().parent().find('.select-semaine').css("visibility", "hidden");
                    $(this).parent().parent().find('.select-depot').css("visibility", "hidden");
                    $(this).parent().parent().find('.select-producteur').css("visibility", "hidden");
                    $(this).parent().parent().find('.pdf').css("visibility", "hidden");
                    $(this).parent().parent().find('.excel').css("visibility", "hidden");
                } else {
                    $.ajax({
                        url: '{{ path('semaines_statistique') }}',
                        type: 'POST',
                        dataType: 'JSON',
                        data: 'annee=' + annee,
                        async: true,
                        error: function (xhr, textStatus, errorThrown) {
                            alert('Ajax request failed.');
                        }
                    })
                        .done(function (response) {
                            let baliseMois = baliseAnneeChoisie.parent().parent().find('.select-mois')
                            baliseMois.css("visibility", "visible");
                            remplirSelectMois(response, baliseMois);
                            let baliseSemaine = baliseAnneeChoisie.parent().parent().find('.select-semaine')
                            baliseSemaine.css("visibility", "visible");
                            remplirSelectSemaine(response, baliseSemaine);
                            if (baliseAnneeChoisie.parent().parent().find('.select-depot').length > 0) {
                                getDepotParSemaine(baliseSemaine, baliseMois, annee);
                            } else if (baliseAnneeChoisie.parent().parent().find('.select-producteur').length > 0) {
                                getProducteurParSemaine(baliseSemaine, baliseMois, annee)
                            } else {
                                baliseAnneeChoisie.parent().parent().find('.pdf').css("visibility", "visible");
                                baliseAnneeChoisie.parent().parent().find('.excel').css("visibility", "visible");
                            }
                        })
                }
            })

            $('.semaine').on('change', function () {
                if ($(this).val() != 0) {
                    $(this).parent().parent().find('.select-mois').find('.mois').val(0);
                    $(this).parent().parent().find('.pdf').css("visibility", "visible");
                    $(this).parent().parent().find('.excel').css("visibility", "visible");
                    $(this).parent().parent().find('.select-depot').css("visibility", "visible");
                    $(this).parent().parent().find('.select-producteur').css("visibility", "visible");
                } else {
                    $(this).parent().parent().find('.select-depot').css("visibility", "hidden");
                    $(this).parent().parent().find('.select-producteur').css("visibility", "hidden");
                    if ($(this).attr('id') != 'semaine1') {
                        $(this).parent().parent().find('.pdf').css("visibility", "hidden");
                        $(this).parent().parent().find('.excel').css("visibility", "hidden");
                    }
                }
            })

            $('.mois').on('change', function () {
                if ($(this).val() != 0) {
                    $(this).parent().parent().find('.select-semaine').find('.semaine').val(0);
                    $(this).parent().parent().find('.pdf').css("visibility", "visible");
                    $(this).parent().parent().find('.excel').css("visibility", "visible");
                    $(this).parent().parent().find('.select-depot').css("visibility", "visible");
                    $(this).parent().parent().find('.select-producteur').css("visibility", "visible");
                } else {
                    $(this).parent().parent().find('.select-depot').css("visibility", "hidden");
                    $(this).parent().parent().find('.select-producteur').css("visibility", "hidden");
                    if ($(this).attr('id') != 'mois1') {
                        $(this).parent().parent().find('.pdf').css("visibility", "hidden");
                        $(this).parent().parent().find('.excel').css("visibility", "hidden");
                    }
                }
            })
        })

        function getDepotParSemaine(baliseSemaine, baliseMois, annee) {

            $(baliseSemaine).add(baliseMois).on('change', function () {

                let semaine = baliseSemaine.find('option:selected').val();
                let mois = baliseMois.find('option:selected').val();
                $.ajax({
                    url: '{{ path('depots_statistique') }}',
                    type: 'POST',
                    dataType: 'JSON',
                    data: {annee: annee, semaine: semaine, mois: mois},
                    async: true,
                    error: function (xhr, textStatus, errorThrown) {
                        alert('Ajax request failed.');
                    }
                })
                    .done(function (response) {
                        let baliseDepot = baliseSemaine.parent().parent().find('.select-depot');
                        remplirSelectDepot(response, baliseDepot)
                    })
            })
        }


        function getProducteurParSemaine(baliseSemaine, baliseMois, annee) {

            $(baliseSemaine).add(baliseMois).on('change', function () {

                let mois = baliseMois.find('option:selected').val();
                let semaine = baliseSemaine.find('option:selected').val();
                $.ajax({
                    url: '{{ path('producteurs_statistique') }}',
                    type: 'POST',
                    dataType: 'JSON',
                    data: {annee: annee, semaine: semaine, mois: mois},
                    async: true,
                    error: function (xhr, textStatus, errorThrown) {
                        alert('Ajax request failed.');
                    }
                })
                    .done(function (response) {
                        let baliseProducteur = baliseSemaine.parent().parent().find('.select-producteur');
                        remplirSelectProducteur(response, baliseProducteur)
                    })
            })
        }


        function remplirSelectSemaine(response, baliseSemaine) {
            let selSemaine = baliseSemaine.children().next();
            selSemaine.find('option').remove();
            selSemaine.append('<option value="0">Votre Choix</option>');
            for (let i = 0; i < response['semaines'].length; i++) {
                let opt = document.createElement('option');
                opt.value = response['semaines'][i]['semaine'];
                let name = document.createTextNode(response['semaines'][i]['semaine']);
                opt.appendChild(name);
                selSemaine.append(opt);
            }
        }

        function remplirSelectMois(response, baliseMois) {
            let selMois = baliseMois.children().next();
            selMois.find('option').remove();
            selMois.append('<option value="0">Votre Choix</option>');
            for (let mois in response['mois']) {
                let opt = document.createElement('option');
                opt.value = mois;
                let name = document.createTextNode(response['mois'][mois]);
                opt.appendChild(name);
                selMois.append(opt);
            }
        }

        function remplirSelectDepot(response, baliseDepot) {
            let selDepot = baliseDepot.children().next();
            selDepot.find('option').remove();
            selDepot.append('<option value="">Votre Choix</option>');
            for (let i = 0; i < response.length; i++) {
                let opt = document.createElement('option');
                opt.value = response[i]['id'];
                let name = document.createTextNode(response[i]['nom']);
                opt.appendChild(name);
                selDepot.append(opt);
            }
        }


        function remplirSelectProducteur(response, baliseProducteur) {
            console.log(response)
            let selProducteur = baliseProducteur.children().next();
            selProducteur.find('option').remove();
            selProducteur.append('<option value="">Votre Choix</option>');
            for (let i = 0; i < response.length; i++) {
                let opt = document.createElement('option');
                opt.value = response[i]['id'];
                let name = document.createTextNode(response[i]['nom']);
                opt.appendChild(name);
                selProducteur.append(opt);
            }
        }

    </script>


{% endblock %}