{% extends 'base.html.twig' %}
{% block Css %}
    <link href="{{ asset('css/style.css') }}" rel="stylesheet"/>
{% endblock %}
{% block title %}{{ parent() }} Ajout d'un detail{% endblock %}

{% block body %}


        <h1 class="text-center my-4">Ajout d'un produit a la commande {{ commande.id }}</h1>

        {{ form_start(detailForm) }}

        <div class="form-row">
            <div class="form-group col-md-4">
                {{ form_label(detailForm.produit) }}
                {{ form_widget(detailForm.produit, { 'attr': {'class': 'form-control'} }) }}
            </div>

            <div class="form-group col-md-4 offset-md-4">
                <label for="prix">Prix :</label>
                <a class="form-control" id="prix"> 0</a>
            </div>


        </div>

        <div class="form-row">
            <div class="form-group col-md-4">
                {{ form_label(detailForm.quantite) }}
                {{ form_widget(detailForm.quantite, { 'attr': {'class': 'form-control'} }) }}
            </div>


            <div class="form-group col-md-4 offset-md-4">
                <label for="total">Total :</label>
                <a class="form-control" id="total"> 0</a>
            </div>
        </div>





    <div class="text-center mt-4 px-5">
        <button type="submit" class="btn btn-success btn-block">Enregistrer</button>
        <a class="btn btn-primary btn-block" role="button" href="{{ path('detail') }}">Annuler</a>
    </div>

    {{ form_rest(detailForm) }}

    {{ form_end(detailForm) }}



{% endblock %}
{% block javascripts %}
    <script>


        $(document).ready(function () {

            let prix;

            $('#detail_form_produit').on('change', function () {

                let idProduit = $(this).find('option:selected').val();
                let prixDiv = $('#prix')


                $.ajax({
                    url: '{{ path('detail_prix') }}',
                    type: 'POST',
                    dataType: 'JSON',
                    data: 'idProduit=' + idProduit,
                    async: true,
                    error: function (xhr, textStatus, errorThrown) {
                        alert('Ajax request failed.');
                    }
                })
                    .done(function (response) {
                        console.log(response)
                        if (idProduit) {
                            prix = response[0]['prix'];
                            prixDiv.html(prix + ' €');
                            updateTotal(prix);
                        } else {
                            $('#prix').empty();
                            $('#total').empty();
                            $('#detail_form_quantite').val(0);
                        }
                    })
            })

            //changement de quantité

            $('#detail_form_quantite').on('change keydown paste input', function () {
                updateTotal(prix)
            })


        })

        function updateTotal(prix) {
            let quantite = $('#detail_form_quantite').val();
            let totalDiv = $('#total')
            console.log(quantite)
            if (quantite) {
                let total = Math.round(quantite * prix * 100) / 100;
                total = total.toFixed(2)
                totalDiv.html(total + ' €')
            } else {
                totalDiv.html('');
            }
        }

    </script>
{% endblock %}