<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ asset('CSS/bootstrap.css') }}">
    <link href="{{ asset('css/style.css') }}" rel="stylesheet"/>
    <!-- Css -->

    {% block Css %}{% endblock %}

    <title>{% block title %}Biodemo | {% endblock %}</title>

</head>
<body class="bg">

<div id="page-content-wrapper">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ path('home') }}">
            <img src="{{ asset('images/bio.jpg') }}" width="50" height="50" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav justify-content-around w-100">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('producteur') }}">Producteurs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('depot') }}">Dépôts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('commande') }}">Commandes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('user') }}">Clients</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Produit
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{{ path('categorie') }}">Categorie</a>
                        <a class="dropdown-item" href="{{ path('produit') }}">Produit</a>
                        {% if(app.user and app.user.roles == ["ROLE_PRODUCTEUR"]) %}
                            <a class="dropdown-item" href="{{ path('vos_produits') }}">Vos Produits</a>
                        {% endif %}
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Statistiques
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{{ path('statistique') }}">Stats</a>
                        <a class="dropdown-item" href="{{ path('etat') }}">Etats</a>
                        <a class="dropdown-item" href="{{ path('graphique') }}">Graphiques</a>
                    </div>
                </li>
                {% if app.user %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('detail_user', {'id': app.user.id}) }}">{{ app.user.nom }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_logout') }}">Se Deconnecter</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_login') }}">Se Connecter</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
</div>
<div>
    {% for label, messages in app.flashes(['success', 'warning', 'danger']) %}
        {% for message in messages %}
            <p class="alert-{{ label }} text-center">{{ message }}</p>
        {% endfor %}
    {% endfor %}
{#    <div class="container-fluid bg-container">#}
    {% block body %}{% endblock %}
{#    </div>#}
</div>
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="{{ asset('JS/jquery-3.5.1.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="{{ asset('JS/bootstrap.js') }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
