{% extends 'base.html.twig' %}
{% block Css %}
    <link href="{{ asset('css/style.css') }}" rel="stylesheet"/>
{% endblock %}
{% block title %}{{ parent() }} Ajout d'une catégorie{% endblock %}

{% block body %}
    <div class="container">

        <h1 class="text-center my-4">Création d'une Catégorie</h1>

        {{ form_start(categorieForm) }}

        <div class="d-flex justify-content-around row">
            <div class="form-group col-md-4">
                {{ form_label(categorieForm.nom) }}
                {{ form_widget(categorieForm.nom, { 'attr': {'class': 'form-control'} }) }}
            </div>
            <div class="form-group col-md-4">
                {{ form_label(categorieForm.catParent) }}
                {{ form_widget(categorieForm.catParent, { 'attr': {'class': 'form-control'} }) }}
            </div>
        </div>
        <div class="d-flex justify-content-around row p-3 mb-2 bg-info text-white">
        Laissez la catégorie vide pour créer une Categorie Mère.
        </div>
    </div>


     <div class="text-center mt-4 px-5">
     <button type="submit" class="btn btn-success btn-block">Enregistrer</button>
         <a class="btn btn-primary btn-block" role="button" href="{{ path('depot') }}">Annuler</a>
     </div>

     {{ form_rest(categorieForm) }}

     {{ form_end(categorieForm) }}



{% endblock %}
